@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');
/*VARIABLES*/
:root {
    --main-dark: #222222;
    --darker-dark: #0e0e0e;
    --main-color: #eeeeee;
}

* {
    margin: 0;
    font-weight: 300;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    color: var(--main-color);
    font-size: 13px;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 3px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 20px;
    height: 20px;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border: 0px none var(--main-color);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:active {
background: var(--main-dark);
}
::-webkit-scrollbar-track {
background: var(--main-dark);
border: 0px none var(--main-color);
border-radius: 50px;
}

::-webkit-scrollbar-track:active {
background: var(--darker-dark);
}
::-webkit-scrollbar-corner {
background: transparent;
}
  
h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 5rem;
}
/*NAVBAR*/

@media only screen and (max-width: 900px) {
    .main-navbar {
        background: var(--darker-dark);
        text-align: center;
    } 
}

.logo {
    font-size: 2rem;
    color: rgb(241, 241, 241);
    margin-right: 1rem;
    margin-left: 4rem;
    color: var(--main-color) !important;
}

.huge-logo {
    font-size: 5rem;
    color: rgb(241, 241, 241);
}

.main-navbar {
    transition: 700ms ease-in-out;
    z-index: 9000;
    position: sticky;
    top: 0;
}

.main-navbar.scrolled {
    background: var(--darker-dark) !important;
}

.main-link, a {
    color: var(--main-color) !important;
    margin: 0;
    text-align: center;
    transition: 1s ease-in-out;
}

.nav, a {
    color:rgb(241, 241, 241) !important;
    letter-spacing: 0.2rem;
    margin-right: 1rem;
    overflow: hidden;
    padding: 0 0.25em;
}

a:hover {
    color: var(--main-color) !important;
    letter-spacing: 0.3rem;
}

.nav-link.active {
    color: rgb(162, 196, 255) !important;

}
/*RIGHT-NAVIGATION*/

.button-box {
    max-width: 70px;
    min-height: 200px;
    z-index: 9000;
    position: sticky;
    top: 40%;
    left: 100%;
}

@media (max-width: 1200px) {
    .button-box {
        visibility: hidden;
    }
}

.btn-circle.btn-xl {
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

.btn-circle {
    width: 10px;
    height: 10px;  
    margin: 5px;
    margin-right: 20px;
    padding: 2px;
    border-radius: 300px;
    opacity: 0.3;
}

.button-right.active {
    -webkit-box-shadow: inset 0px 0px 132px -5px  rgb(162, 196, 255);
    -moz-box-shadow: inset 0px 0px 132px -5px  rgb(162, 196, 255);
    box-shadow: inset 0px 0px 132px -5px  rgb(162, 196, 255);
    border: 1px solid rgb(255, 255, 255);
}

.list-group-item:first-child, .list-group-item:last-child  {
    border-radius: 100rem;
}

/*home-main*/
.home-main {
    background-image: url("../images/home-dark.jpg");
    width: 100%;
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: fixed;
    top: 0;
}

.arrow {
    position: absolute;
    z-index: 10;
    color: #fff;
    bottom: 15%;
    left: 50%;
    font-size: 15rem;
    transform: translateX(-50%);
    border-radius: 50%;
    height: 4rem;
    overflow: hidden;
    transition: 3ms ease;
    padding: 20px;
    opacity: 0.2;
}

.arrow:hover {
    color: var(--main-color);
    border-color: white;
    cursor: pointer;
    text-shadow: 1px 2px rgb(5, 5, 5, 0.5);
}

.animation-arrow {
    animation: arrow 3s infinite linear;
    font-size: 2rem;
}

@keyframes arrow {
    0% {transform: translateY(-80px)}
    50% {transform: translateY(0px)}
    100% {transform: translateY(80px)}
}

.heading {
    letter-spacing: 1.1rem;
    text-shadow: 1px 1px rgb(5, 5, 5, 0.5);
}

.heading-main {
    letter-spacing: 0.4rem;
    text-shadow: 1px 2px rgb(5, 5, 5, 0.5);
    opacity: 0.8;
}

@media (max-width: 992px) {
    .heading-main {
        font-size: 4rem;
        letter-spacing: 0.1rem;
    }
}

/*ABOUT US*/

.home-about {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    z-index: 10;
    position: relative;
    margin-top: 100vh;
    background-image: url("../images/about-us-dark.jpg");
}

.about-us-main {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    position: absolute;
    top: 15%;
    padding: 2rem;
    padding-left: 3rem;
}

@media (max-width:  1000px) {
    .about-us-main {
        max-height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100vw;
        float: left;
    }
}

@media (max-width: 1000px) {
    .description {
        font-size: 1rem;
        line-height: 1.7rem;
    }
}

.quote {
    padding-left: 2rem;
    border-left: 1px solid white;
    margin: 1rem;
}

.about-us {
    background-color: black;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    position: absolute;
    top: 55%;
    right: 0;
    padding: 2rem;
    padding-right: 3rem;
    text-align: right;
}

@media (max-width: 1000px) {
    .about-us {
        min-height: 30vh;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-right: 5rem;
        float: left;
        overflow-y: scroll;
        overflow-x: hidden;
        text-align: left;
    }
}   

@media (max-width: 1200px) {
    .blank-column {
        width: 1px;
        height: 1px;
    }
}

/*GOALS*/
.goals-section {
    max-width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    z-index: 10;
    position: relative;
    background-image: url("../images/goals-dark.jpg");
    box-shadow: -15px 0px 0px 0px black, 15px 0px 0px 0px black;
}

.goals {
    min-height: 100vh;
}

.goal {
    background-color: black;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    margin-left: 3rem;
    height: 30rem;
    padding: 4rem 2rem 4rem 3rem;
}

.logo-big {
    font-size: 4rem;
    text-align: center !important;
}
/*PROJECTS*/

.projects {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    background-color: var(--darker-dark);
}

@media (max-width: 992px) {
    .project {
        min-width: 100%;
    }
}

.project {
    max-width: 50%;
    height: 50vh;
    background-size: cover;
    text-align: center;
    border: 2px solid var(--darker-dark);
}

.photocatalysis {
    background-image: url("../images/projects-photocatalysis.jpg");
}

.flame-retardant {
    background-image: url("../images/projects-flame-retardants.jpg");
}

.electrochemistry {
    background-image: url("../images/projects-electrochemistry.jpg");
}

.drugs-delivery {
    background-image: url("../images/projects-drug-delivery.jpg");
}

.black-cover {
    background-color: black;
    max-width: 50vw;
    height: 50vh;
    background-size: cover;
    opacity: 0.8;
    transition: 0.8s;
}

.black-cover:hover {
    opacity: 0.4;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
    padding: 0;
    transition-timing-function: ease-in-out;

}

/*GALLERY*/
.gallery {
    max-width: 100%;
    height: 90vh;
    background: var(--main-dark);
}

.description-heading {
    max-width: 100vw;
    background: var(--main-dark);
    position: relative;
    z-index: 10;
}

.description-field {
    text-align: center;
    padding: 4rem;
    min-height: 40vh;
}

.gallery-container {
    max-width: 100vw;
    overflow: hidden;
    background: var(--main-dark);
    background-size: cover;
    min-height: 50vh;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    z-index: 100;
    margin-left: -15px;
    margin-right: -15px;
   }

.slider {
    height: 400px;
    width: 10000px;
    margin-bottom: 80px;
   }

.first-slide {
    -webkit-animation: bannermove 105s linear infinite;
    -moz-animation: bannermove 105s linear infinite;
    -ms-animation: bannermove 105s linear infinite;
    -o-animation: bannermove 105s linear infinite;
    animation: bannermove 105s linear infinite;
}

@keyframes bannermove {
    0% {
       margin-left: 0px;
    }
    100% {
       margin-left: -12701px;
    }  
}

@-moz-keyframes bannermove {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -12701px;
    }
}
   
@-webkit-keyframes bannermove {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -12701px;
    }
}
   
 @-ms-keyframes bannermove {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -12701px;
    }
}
   
@-o-keyframes bannermove {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -12701px;
    }
}
/*NUMBERS*/

.numbers-section {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    z-index: 1000;
    background-image: url("../images/numbers.jpg");
    padding: 3rem;
}

.box-number {
    padding-left: 3rem;
    border-right: 2px solid white;
}

@media (max-width: 992px) {
    .box-number {
        border: none;
    }
}
.box-number:last-child {
    border: none;
}

/*CONTACT*/

.contact-section {
    min-height: 100vh;
    background-color: var(--main-dark);
    margin: 0 auto;
    position: relative;
    z-index: 30;
}

.btn-form {
    border: 1px solid rgb(66, 66, 66);
}

.btn-form:hover {
    border: 1px solid rgb(162, 196, 255);
}

.contact {
    min-height: 100vh;
}

@media (max-width: 900px) {
    .contact-box {
        margin-bottom: 4rem;
    }
}

.logo-contact {
    padding: 2rem 1rem 2rem 1rem;
    transition: 0.8s;
}

@media (max-width: 900px) {
    .logo-contact {
        padding: 0;
        padding-top: 2rem;
    }
}

.logo-contact:hover {
    color: rgb(189, 189, 189);
    transition-timing-function: ease-in-out;
    text-shadow: 3px 3px rgb(59, 59, 59);
}

.side-image-right {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    opacity: 0.05;
    max-height: 100vh;
}
.side-image-left {
    position: absolute;
    left: 0;
    top:0;
    max-height: 100vh;
    transform: rotateY(180deg);
    overflow: hidden;
    opacity: 0.05;
}

/*FOOTER*/
.footer {
    max-height: 10vh;
    background-color: var(--darker-dark);
    margin: 0 auto;
    position: relative;
    z-index: 30;
    width: 100%;
    padding-top: 1rem;
}
